.project-container {
  margin-block: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10pt;
}

.featured-image {
  aspect-ratio: 16 / 4;
  object-fit: cover;
  border-radius: 1rem;
  @media (max-width: 800px) {
    aspect-ratio: 16 / 7;
  }
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10pt;

  p {
    opacity: 0.3;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10pt;
}

.work-content {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  opacity: 0.3;

  :not(p) {
    text-align: right;
  }
}
